@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

@font-face {
    font-family: "MacklinDisplay";
    src: url("../public/fonts/MacklinDisplay/MacklinDisplay-Regular.ttf");
}
@font-face {
    font-family: "GTHaptik";
    src: url("../public/fonts/GTHaptik/GTHaptik-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;